<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow access to the camera to add photos to your to-do items.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access to photos to add images to your to-do items.</string>
	<key>SKAdNetworkItems</key>
	<array/>
</dict>
</plist>
